@media (prefers-color-scheme: dark) {
  body {
    --bg: #111111;
    --textNormal: #a0a090;
    --textTitle: #d79921;
    --textLink: #b16286;
    --headerTag: #cc241d;
    --hr: #98971a;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --bg: #fbf1c7;
    --textNormal: #111111;
    --textTitle: #b57614;
    --textLink: #8f3f71;
    --headerTag: #9d0006;
    --hr: #98971a;
  }
}

html {
  overflow-y: visible;
  background: var(--bg);
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5rem;
}

body {
  box-sizing: border-box;
  background: var(--bg);
  color: var(--textNormal);
  font-size: 14px;
  font-family: 'IBM Plex Mono';
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin-left: 0;
  padding-left: 25px;
}

a {
  box-shadow: none;
  color: var(--textLink);
  text-decoration: none;
}

a:hover {
  box-shadow: none;
  color: var(--hr);
}

p,
li,
small {
  color: var(--textNormal);
  line-height: 1.5rem;
}

strong,
b {
  font-weight: 800;
}

code {
  color: var(--hr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.1rem;
  color: var(--textTitle);
  margin: 0 0 1.5rem 0;
  font-weight: 600;
}

hr {
  background: var(--hr);
}

p,
ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
}

li {
  margin: 0;
}

ul>li:before {
  content: "- ";
  text-indent: -5px;
  color: var(--headerTag);
}

h1::before {
  content: "# ";
  color: var(--headerTag);
  text-indent: -5px;
  font-weight: 400;
}

h2::before {
  content: "## ";
  color: var(--headerTag);
  text-indent: -5px;
  font-weight: 400;
}

h3::before {
  content: "### ";
  color: var(--headerTag);
  text-indent: -5px;
  font-weight: 400;
}

h4::before {
  content: "#### ";
  color: var(--headerTag);
  text-indent: -5px;
  font-weight: 400;
}

h5::before {
  content: "##### ";
  color: var(--headerTag);
  text-indent: -5px;
  font-weight: 400;
}

h6::before {
  content: "###### ";
  color: var(--headerTag);
  text-indent: -5px;
  font-weight: 400;
}

sup {
  line-height: 1rem;
  font-size: 0.7rem;
  color: var(--headerTag);
}