.container {
  background: var(--bg);
  min-height: 100vh;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding: 1rem;
  min-height: calc(100vh - 50px - 2rem);
  box-sizing: border-box;
}